body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*display: flex;*/
    align-items: center;
}

.main-layout {
    display: flex;
    flex-wrap: wrap; /* Para que en pantallas pequeñas los contenedores se apilen */
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    /*height: 100%;            /* Ocupar toda la altura de la pantalla */
    min-height: calc(70vh - 80px); /* Ocupar toda la altura de la pantalla menos 20px */
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 80px; /* Para evitar que el contenido se superponga con el header */
}

.container1{
    flex: 1 1 450px;
    min-width: 280px;
    margin: 0.5rem;
    border: 2px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    flex: 2 1 500px;
    min-width: 300px;
    margin: 0.5rem;
    border: 2px;
    padding: 1rem;
}

#datos div{
    margin-top: 1rem;
}

#datos label {
    display: block;
    margin-top: 0.2rem;
}

#datos input{
    width: 100%;
    padding: 0.4rem;
    margin-top: 0.5rem;
}

.form{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.form-g{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
}

.custom-navbar{
    height: 80px;
    display: flex;
    align-items: center;
}

.custom-navbar .navbar-brand{
    font-size: 2rem;
}

#C_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px;
    background-color: #ffffff;
    width: auto;
    height: auto;
    max-width: 100%;
    overflow: auto;
}

#C_image img {
    max-width: 100%;
    height: auto;
    display: block;
}

#buttonCI {
    z-index: 1;
    position: relative;
}